@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container d-flex align-items-center justify-content-center py-5" style="height: 50vh;">
    <div>
        <h1 class="text-danger text-center">Acesso Negado</h1>
        <p class="text-center">Você não tem permissão para acessar esta página.</p>
        <div class="d-flex align-items-center justify-content-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Voltar para o início</a>
        </div>
    </div>
</div>