@using ProjetoInterdisciplinar.ViewModels;
@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
}

<!-- GRADIENT -->
<div class="container-fluid py-5" style="background: var(--custom-gradient);">
    <div class="container d-flex justify-content-center p-5">

        <div class="row">

            <!-- DIV -->
            <div class="border border-dark rounded-2 bg-white p-4" style="width: 50vw;">

                <!-- TITLE -->
                <div class="text-center">
                    <p class="fs-4 fs-md-2 fw-bold text-secondary">Entre no seu perfil</p>
                    <p class="">Não possui uma conta? <a asp-action="PFRegister" class="text-decoration-none">Crie uma conta</a></p>
                </div>

                <form asp-action="Login" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <!-- Email -->
                    <div class="form-group">
                        <label asp-for="Email" class="form-label"></label>
                        <input class="col-12 form-control border border-dark rounded-2 mb-4"
                        asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <!-- Senha -->
                    <div class="form-group mb-4">
                        <div class="d-flex justify-content-between">
                            <label asp-for="Password" class="form-label"></label>
                            <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">Esqueceu a senha?</a>
                        </div>
                        <div class="position-relative">
                            <input id="password" class="col-12 form-control border border-dark rounded-2 pe-5" asp-for="Password" type="password">
                            <i class="fa-regular fa-eye-slash position-absolute" id="eyeBtn" style=" top: 50%; right: 20px; transform: translateY(-50%); cursor: pointer;"></i>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <!-- Lembre-se de mim
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="col-12 form-check-input border border-dark rounded-2 mb-4" asp-for="RememberMe">
                            @Html.DisplayNameFor(a => a.RememberMe)
                        </label>
                        <span asp-validation-for="RememberMe" class="text-danger"></span>
                    </div>
                     -->


                    <div class="container d-flex justify-content-center py-3">
                        <input class="col-3 btn btn-dark border border-dark" type="submit" value="Login">
                    </div>

                    <div class="text-center">
                        <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Voltar</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script>
    const eyeBtn = document.getElementById('eyeBtn');
    const password = document.getElementById('password');
    eyeBtn.addEventListener('click', function () 
    {
        const type = password.getAttribute('type') == 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('fa-eye');
    });
</script>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
