@using ProjetoInterdisciplinar.ViewModels;
@model PJRegisterViewModel;

@{
    ViewData["Title"] = "PJ register";
}

<!-- GRADIENT -->
<div class="container-fluid py-5" style="background: var(--custom-gradient);">
    <div class="container d-flex justify-content-center p-5">

        <div class="row">

            <!-- DIV -->
            <div class="border border-dark rounded-2 bg-white p-4" style="width: 50vw;">

                <!-- TITLE -->
                <div class="text-center">
                    <p class="fs-4 fs-md-2 fw-bold text-secondary">Crie a sua conta PJ</p>
                    <p class="">Já possui uma conta? <a asp-controtroller="Account" asp-action="Login" class="text-decoration-none">Login</a></p>
                </div>

                <form asp-action="PJRegister" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Name -->
                    <div class="form-group">
                        <label asp-for="Name" class="form-label"></label>
                        <input class="col-12 form-control border border-dark rounded-2 mb-4"
                               asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>


                    <div class="row justify-content-between">
                        <!-- CNPJ -->
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="CNPJ"></label>
                                <input class="form-control border border-dark rounded-2 mb-4"
                                       type="text" asp-for="CNPJ">
                                <span asp-validation-for="CNPJ" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Ramo -->
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="Ramo"></label>
                                <input class="form-control border border-dark rounded-2 mb-4"
                                       type="text" asp-for="Ramo">
                                <span asp-validation-for="Ramo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <!-- Email -->
                    <div class="form-group">
                        <label asp-for="Email" class="form-label"></label>
                        <input class="col-12 form-control border border-dark rounded-2 mb-4"
                               asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <!-- Senha -->
                    <div class="form-group mb-4">
                        <label asp-for="Password" class="form-label"></label>
                        <div class="position-relative">
                            <input id="password" class="col-12 form-control border border-dark rounded-2 pe-5" asp-for="Password" type="password">
                            <i class="fa-regular fa-eye-slash position-absolute" id="eyeBtn" style=" top: 50%; right: 20px; transform: translateY(-50%); cursor: pointer;"></i>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <!-- Confirmar senha -->
                    <div class="form-group mb-4">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <div class="position-relative">
                            <input id="confirmPassword" class="col-12 form-control border border-dark rounded-2 pe-5" asp-for="ConfirmPassword" type="password">
                            <i class="fa-regular fa-eye-slash position-absolute" id="eyeBtnConfirm" style=" top: 50%; right: 20px; transform: translateY(-50%); cursor: pointer;"></i>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>


                    <div class="container d-flex justify-content-center py-3">
                        <input class="col-3 btn btn-dark border border-dark" type="submit" value="Registrar">
                    </div>

                    <div class="text-center">
                        <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Voltar</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script>
    const eyeBtn = document.getElementById('eyeBtn');
    const password = document.getElementById('password');
    eyeBtn.addEventListener('click', function ()
    {
        const type = password.getAttribute('type') == 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('fa-eye');
    });

    const eyeBtnConfirm = document.getElementById('eyeBtnConfirm');
    const confirmPassword = document.getElementById('confirmPassword');
    eyeBtnConfirm.addEventListener('click', function ()
    {
        const type = confirmPassword.getAttribute('type') == 'password' ? 'text' : 'password';
        confirmPassword.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('fa-eye');
    });
</script>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}

