@using ProjetoInterdisciplinar.ViewModels;
@model VerifyEmailViewModel;

@{
    ViewData["Title"] = "Verify email";
}

<!-- GRADIENT -->
<div class="container-fluid py-5" style="background: var(--custom-gradient);">
    <div class="container d-flex justify-content-center p-5">

        <div class="row">

            <!-- DIV -->
            <div class="border border-dark rounded-2 bg-white p-4" style="width: 50vw;">

                <!-- TITLE -->
                <div class="text-center">
                    <p class="fs-4 fs-md-2 fw-bold text-secondary">Verifique o seu email</p>
                </div>

                <form asp-action="VerifyEmail" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <!-- Email -->
                    <div class="form-group">
                        <label asp-for="Email" class="form-label"></label>
                        <input class="col-12 form-control border border-dark rounded-2 mb-4"
                               asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                    <div class="container d-flex justify-content-center py-3">
                        <input class="col-12 btn btn-dark border border-dark" type="submit" value="Verificar">
                    </div>

                    <div class="text-center">
                        <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Voltar</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}

