@{
    ViewData["Title"] = "Suporte";
}


<!-- HERO  -->
<section class="container-fluid d-flex align-items-center justify-content-center py-5"
         style="background: var(--custom-gradient)">

    <div class="container d-flex align-items-center justify-content-between">

        <!-- CONTAINER -->
        <div class="col-12 p-4 text-white" id="">
            <p class="fs-1 fw-bold">Sobre nós</p>
            <hr class="container border-2">
            <p class="fs-4">Conheça-nos mais um pouco, visite nossos perfils pessoais e nos acompanhe nas redes...</p>
        </div>
    </div>
</section>

<!-- INTEGRANTES -->
<section class="container-fluid py-4">

    <!-- TITLE -->
    <div class="container py-2 mb-5">
        <p class="fs-1 fw-bold text-center">Integrantes</p>
    </div>

    <!-- CONTAINER CARDS -->
    <div class="container d-flex flex-wrap justify-content-center gap-5 py-3">

        <div class="card bg-primary text-white mb-5 border border-dark" style="width: 18rem;">
            <div class="d-flex justify-content-center custom-position-top">
                <img src="~/imgs/imagens/matao.webp" class="card-img-top rounded-circle custom-img-circle border border-dark"
                     style="width: 45%;" alt="Integrante 1">
            </div>
            <div class="card-body text-center custom-position-top">
                <p class="fs-3 card-title mb-3">João Victor de Paula</p>
                <p class="card-text fs-5">"Aqui vai uma frase de escolha do integrante"</p>
                <a class="text-dark fs-5" href="">
                    <img src="~/imgs/icons/github.svg" alt="">
                </a>
            </div>
        </div>

        <div class="card bg-primary text-white mb-5 border border-dark" style="width: 18rem;">
            <div class="d-flex justify-content-center custom-position-top">
                <img src="~/imgs/imagens/matao.webp" class="card-img-top rounded-circle custom-img-circle border border-dark"
                     style="width: 45%;" alt="Integrante 2">
            </div>
            <div class="card-body text-center custom-position-top">
                <p class="fs-3 card-title mb-3">Maria Capelani</p>
                <p class="card-text fs-5">"Aqui vai uma frase de escolha do integrante"</p>
                <a class="text-dark fs-5" href="">
                    <img src="~/imgs/icons/github.svg" alt="">
                </a>
            </div>
        </div>

        <div class="card bg-primary text-white mb-5 border border-dark" style="width: 18rem;">
            <div class="d-flex justify-content-center custom-position-top">
                <img src="~/imgs/imagens/matao.webp" class="card-img-top rounded-circle custom-img-circle border border-dark"
                     style="width: 45%;" alt="Integrante 3">
            </div>
            <div class="card-body text-center custom-position-top">
                <p class="fs-3 card-title mb-3">Pedro Vinzinzotto</p>
                <p class="card-text fs-5">"Aqui vai uma frase de escolha do integrante"</p>
                <a class="text-dark fs-5" href="">
                    <img src="~/imgs/icons/github.svg" alt="">
                </a>
            </div>
        </div>

        <div class="card bg-primary text-white mb-5 border border-dark" style="width: 18rem;">
            <div class="d-flex justify-content-center custom-position-top">
                <img src="~/imgs/imagens/matao.webp" class="card-img-top rounded-circle custom-img-circle border border-dark"
                     style="width: 45%;" alt="Integrante 4">
            </div>
            <div class="card-body text-center custom-position-top">
                <p class="fs-3 card-title mb-3">Vitor Afonso</p>
                <p class="card-text fs-5">"Aqui vai uma frase de escolha do integrante"</p>
                <a class="text-dark fs-5" href="">
                    <img src="~/imgs/icons/github.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>